* {
  margin: 0;
  padding: 0;
}
p {
  font-family: 'Raleway', sans-serif;
}
h1 {
  color: #d03232;
}
/*Navigation Bar*/
ul h1 {
  float: left;
  color: white;
  margin-left: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2d6486;
}

li {
  float: right;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #009eff;
}

.active {
  background-color: #bbb;
  color: black;
}


/*Front Page*/
.home > div > h1 {
  color: red;
  border-style: none;
  transition: .1s;
}
div {
  border-style: none;
}
.home{
  background: url(../images/image1.jpeg);
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 1350px 700px;
}

/*.btn {
  background-color: #ddd;
  color: black;
  border-style: none;
  border-radius: 20px;
  padding: 10px 30px;
}
.btn:hover {
  background-color: #3e8e41;
    color: white;
  
}
.btn span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
   border-style: none;
}
.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}*/
.btn {
  border-radius: 20px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;  
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
   border-style: none;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/*about page*/

.nav-bar {
  height: 90vh;
  background: url(../images/image3.jpeg);
  background-repeat: no-repeat;
  background-size: 1350px 600px;
}
.nav-content > img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About */
.about {
  height: 100vh;
  background-color: salmon;
  background: url(../images/image2.jpeg);
  display: flex;
  background-repeat: no-repeat;
  background-size: 1350px 600px;
}
.left {
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 60px;
}
.side-content{
  text-align: center;
}
.left > .side-content > img {
  height: 200px;
  border-radius: 10px;
}
.right {
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}